roads_by_region/*.js !text !filter !merge !diff
roads_by_region/*.geojson !text !filter !merge !diff
roads_by_region_latest/*.geojson filter=lfs diff=lfs merge=lfs -text
roads_by_region_latest/*.js filter=lfs diff=lfs merge=lfs -text
*.geojson filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
data_warehouse/**/*.js filter=lfs diff=lfs merge=lfs -text
